.colorTitulo{
    color: whitesmoke;
}

.colorSubtitulo{
    color: wheat;
    width:20px;
    font-size: 130%;
    display: inline;

}

.colorTituloTabla{
    color: whitesmoke;  /* fallback for old browsers */
    
    
}

.colorFondoTituloTabla{
    background-color: #141517 ;
    display: inline-block;
}

.cardPerfil{
    height: 500px;
    background-color: rgba(0,0,0,0.8) !important;
    border-radius: 5%;
    width: 400px;
}

.cardAvanceClub{
    margin-top: 3%;

    height: 150%;
    background-color: rgba(0,0,0,0.8) !important;
    border-radius: 5%;
    width: 60%;
    box-sizing: border-box;
}

.centrar{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.centrarImagen{
    display:block;
    margin:auto;
    
    
}

.bordeLetra{
  -webkit-text-stroke: 5px #141517;
  color: transparent;
}

.centrarTabla{
    margin:auto;
}



#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}

.textoInicio{
    font-size: 800%;
    background: url('Pasto1.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}