.colorTitulo{
    color: whitesmoke;
}

.colorSubtitulo{
    color: wheat;
    width:20px;
    font-size: 130%;
    display: inline;

}


.cardPerfil{
    height: 500px;
    background-color: rgba(0,0,0,0.8) !important;
    border-radius: 5%;
    width: 400px;
}

.cardAvanceClub{
    margin-top: 3%;

    height: 150%;
    background-color: rgba(0,0,0,0.8) !important;
    border-radius: 5%;
    width: 60%;
    box-sizing: border-box;
}

.centrar{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

